*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: auto; /* Предотвращает горизонтальную прокрутку */
    width: 100%;
    font-family: 'Poppins', sans-serif;
    min-width: 576px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
